<!DOCTYPE html>
<html>
<head>
    <!-- 指定页面编码 -->
    <meta charset="utf-8">
    <!-- 指定页面 title，显示在浏览器上的信息 -->
    <title>一个简单的资讯网站</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <!-- 页面正式内容 -->
    <nav> 导航条 </nav>
    <div class="container">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2017 by <a href="http://www.shiyanlou.com/">shiyanlou</a>
        {% endblock %}
    </div>
</body>
</html>
